form{
  display: contents;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
  .div1 { 
    grid-area: 1 / 1 / 4 / 2; 
  }
    
  .div2 { 
    grid-area: 1 / 2 / 4 / 4; 
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  